@import scala.collection.mutable.ArrayBuffer
@(games: ArrayBuffer[GamesDB], basket: ArrayBuffer[BasketDB],paymentForm: Form[Payment],subTitle: String = "Please fill in your details")(implicit messages: Messages)


@main("Welcome to QAG") {

    <h1>Your Shopping Basket</h1>
    <table>
        <thead>
            <tr><th>Game</th><th>Price</th></tr>
        </thead>
        <tbody>
        @for(gameID <- basket.head.gameIDs) {
            <tr><td>@games.filter(_._id == gameID).head.name</td>
                <td> £@games.filter(_._id == gameID).head.price</td></tr>
        }
        </tbody>
    </table>
    <li>Total Price: £@basket.head.gameIDs.foldLeft(0.0)((sum, gameID) => sum + games.filter(_._id == gameID).head.price)</li>
    <hr/>

    <h2>@subTitle</h2>
    @helper.form(routes.Application.getBasketAction()) {
        @helper.inputText(paymentForm("name"), '_label -> "Full Card Holder Name", '_showConstraints -> false)
        @helper.inputText(paymentForm("number"), '_label -> "Card Number", '_showConstraints -> false)
        @helper.inputText(paymentForm("expiry"), '_label -> "Expiry (MM/YY)", '_showConstraints -> false)
        @helper.inputText(paymentForm("csv"), '_label -> "CSV", '_showConstraints -> false)

        <button type="submit" name="action" value="pay">Make Payment</button>
        <p>
            <button type="submit" name="action" value="empty">Empty Basket</button>
        </p>
    }
}