@(message: String)

@main("Welcome to QAG") {

    <h1>@message</h1>
    <h2>Most Popular Games</h2>
    <p>
        <a href="http://localhost:9000/games/game1">
            <img border="0" alt="Game1" src="@routes.Assets.at("images/overwatch.jpg")" width="200" height="200">
        </a>
    </p>
    <h3>Featured Games</h3>
    <p>
        <a href="http://localhost:9000/games/game2">
            <img border="0" alt="Game2" src="@routes.Assets.at("images/CallofDuty.jpg")" width="200" height="200">
        </a>
    </p>
}
