@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/gamestore.jpg")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        <div class="topnav" id="myTopnav">
            <a href="http://localhost:9000">Home</a>
            <a href="http://localhost:9000/contact">Contact Us</a>
        </div>
    </head>
    <body>
        @content
    </body>
</html>
